# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/simplest_vp9_codec/bin/*.vp9
/simplest_vp9_codec/.vs
/simplest_vp9_codec/vpx/Win32
/simplest_vp9_codec/vpx/*.user
/simplest_vp9_codec/vpxdec/Win32
/simplest_vp9_codec/vpxdec/*.user
/simplest_vp9_codec/vpxenc/*.user
